#searchContainer {
    margin-top: 20px;
    text-align: center;
}

#countryName {
    width: 20%;
    margin: auto;
}

/* Loading animation stuff for future work
 .loader {
    margin: auto;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 10px solid transparent;
    border-top-color: #f56;
    border-left-color: #f56;
    border-radius: 50%;
    animation: loader .75s 10 ease forwards;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
} */